{% extends "base.html" %}

{% block cuerpo %} 
<div class="row"> <!-- fila en editar -->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Cliente</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarCliente/" method="post"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" minlength="1" maxlength="6" readonly required class="form-control" value="{{misclientes.codigo }}"><br>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" minlength="1" maxlength="100" required class="form-control" value="{{misclientes.nombre}}"><br>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txttelefono" name="txttelefono" minlength="10" maxlength="15" required class="form-control" value="{{misclientes.telefono}}"><br>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtdireccion" name="txtdireccion" minlength="1" maxlength="100" required class="form-control" value="{{misclientes.direccion}}"><br>
                    </div>
                    <div class="form-group py-2">
                        <input type="email" id="txtcorreo" name="txtcorreo" maxlength="50" required class="form-control" value="{{misclientes.correo}}"><br>
                    </div>
                    <div class="form-group py-2">
                        <input type="date" id="txtfnacimiento" name="txtfnacimiento" required class="form-control" value="{{misclientes.fnacimiento}}"><br>
                    </div>
                    <div class="form-group py-2">
                        <input type="date" id="txtfregistro" name="txtfregistro" required class="form-control" value="{{misclientes.fregistro}}"><br>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-dark">Guardar Cliente</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
