{% extends "base.html" %}

{% block cuerpo %} 
<div class="row"> <!--fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar producto</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarProducto/" method="post"> {% csrf_token %}<!--falta action -->
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" minlenght="1" maxlenght="6" readonly required class="form-control" value="{{misproductos.codigo}}"><br>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" minlenght="1" maxlenght="100" required class="form-control" value="{{misproductos.nombre}}"><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtdescripcion" name="txtdescripcion" minlenght="1" maxlenght="100" required class="form-control" value="{{misproductos.descripcion}}"> <br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtcategoria" name="txtcategoria" minlenght="1" maxlenght="6" required class="form-control" value="{{misproductos.categoria}}"> <br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtproveedor" name="txtproveedor" minlenght="1" maxlenght="6" required class="form-control" value="{{misproductos.proveedor}}"> <br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numtotal" name="numtotal" minlenght="1" maxlenght="6" required class="form-control" value="{{misproductos.total}}"> <br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numstock" name="numstock" minlenght="1" maxlenght="6" required class="form-control" value="{{misproductos.stock}}"> <br>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-dark"> Guardar Producto </button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}