{% extends "base.html" %}

{% block cuerpo %}
    <h1>Gestión de Productos</h1>
    {% load static %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <img class="w-50" src="{% static 'img/producto.jpg' %}" alt="Office Depot" style="max-width: 300px;">
</div>
    <!-- Formulario de Registro de Producto -->
    <div class="row"><!-- la fila -->
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->
            <div class="card">
            <div class="card-body">
            Ingresar Producto
              <form action="/registrarProducto/" method ="POST"> {% csrf_token %}
              <div class="form-group py-2">
                <input type="text" id="txtcodigo" name="txtcodigo"
                placeholder="Codigo Producto" minlenght="1" maxlenght="6" required class="form-control">
              </div>
              <div class="form-group py-2">
                <input type="text" id="txtnombre" name="txtnombre"
                placeholder="Nombre Producto" minlenght="1" maxlenght="6" required class="form-control">
              </div>
              <div class="form-group py-2">
                <input type="text" id="txtdescripcion" name="txtdescripcion"
                placeholder="Descripcion Producto" minlenght="1" maxlenght="100" required class="form-control">
              </div>
              <div class="form-group py-2">
                <input type="text" id="txtcategoria" name="txtcategoria"
                placeholder="Categoria Producto" minlenght="1" maxlenght="6" required class="form-control">
              </div>
              <div class="form-group py-2">
                <input type="text" id="txtproveedor" name="txtproveedor"
                placeholder="Proveedor Producto" minlenght="1" maxlenght="6" required class="form-control">
              </div>
              <div class="form-group py-2">
                <input type="number" id="numtotal" name="numtotal"
                placeholder="Total Producto" minlenght="1" maxlenght="6" required class="form-control">
              </div>
              <div class="form-group py-2">
                <input type="number" id="numstock" name="numstock"
                placeholder="Stock Producto" minlenght="1" maxlenght="6" required class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Ingresar</button>
              </div>
            </div>
          </div>
        </div><!-- columna izquierda -->

    <div class="col-sm-12 col-md-8 col-xl-8"> <!-- columna derecha --> 
      <h4>Productos Registrados</h4>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">codigo</th>
                <th scope="col">nombre</th>
                <th scope="col">descripcion</th>
                <th scope="col">categoria</th>
                <th scope="col">proveedor</th>
                <th scope="col">total</th>
                <th scope="col">stock</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for m in losproductos %}
            <tr>
              <td> {{forloop.counter}} </td>
              <td> {{m.codigo}} </td>
              <td> {{m.nombre}} </td>
              <td> {{m.descripcion}} </td>
              <td> {{m.categoria}} </td>
              <td> {{m.proveedor}} </td>
              <td> {{m.total}} </td>
              <td> {{m.stock}} </td> 
              <td> 
                <a href="/seleccionarProducto/{{m.codigo}}" class="btn btn-info">Editar</a> 
                <a href="/borrarProducto/{{m.codigo}}" class="btn btn-danger">Borrar</a>
              </td> 
            </tr>
            {% empty %}
            <tr>
              <td colspan="9" class="text-center">No hay órdenes registradas.</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        <!-- la fila -->
    </div> <!-- columna derecha --> 
</div> <!-- la fila -->
{% endblock %}