{% extends "base.html" %}

{% block cuerpo %}
<div class="row"> <!--fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Orden</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarOrden/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" readonly class="form-control" value="{{ misordenes.codigo }}"><br>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtcliente" name="txtcliente" minlenght="1" maxlenght="20" required class="form-control" value="{{ misordenes.cliente }}"><br>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" minlenght="1" maxlenght="100" required class="form-control" value="{{ misordenes.direccion }}"><br>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtestado" name="txtestado" minlenght="1" maxlenght="20" required class="form-control" value="{{ misordenes.estado }}"><br>
                    </div>
                    <div class="form-group py-3">
                        <input type="date" id="txtforden" name="txtforden" minlenght="1" maxlenght="20" required class="form-control" value="{{ misordenes.forden }}"><br>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" id="numtotal" name="numtotal" minlenght="1" maxlenght="6" required class="form-control" value="{{ misordenes.total }}"><br>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="nummetodopago" name="nummetodopago" minlenght="1" maxlenght="6" required class="form-control" value="{{ misordenes.metodo_pago }}"><br>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-dark">Guardar Orden</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}