{% extends "base.html" %}

{% block cuerpo %}
    <h1>Gestión de Ordenes</h1>
    {% load static %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img class="w-50" src="{% static 'img/orden.png' %}" alt="Office Depot" style="max-width: 300px;">
    </div>
    <!-- Formulario de registro de orden -->
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                    Ingresar Orden
                    <form action="/registrarOrden/" method="POST"> {% csrf_token %}
                        <div class="form-group py-2">
                            <input type="text" id="txtidorden" name="txtidorden" 
                            placeholder="id Orden" minlength="1" maxlength="6" required class="form-control">
                        </div>
                        <div class="form-group py-2">
                            <input type="text" id="txtidcliente" name="txtidcliente" 
                            placeholder="id Cliente" minlength="1" maxlength="20" required class="form-control">
                        </div>
                        <div class="form-group py-2">
                            <input type="text" id="txtidempleado" name="txtidempleado" 
                            placeholder="id empleado" minlength="1" maxlength="100" required class="form-control">
                        </div>
                        <div class="form-group py-2">
                            <input type="text" id="txtidsucursal" name="txtidsucursal" 
                            placeholder="id sucursal" minlength="1" maxlength="100" required class="form-control"> 
                        </div>
                        <div class="form-group py-2">
                            Fecha de Orden
                            <input type="date" id="txtforden" name="txtforden" 
                            placeholder="Fecha de orden" minlength="1" maxlength="20" required class="form-control">
                        </div>
                        <div class="form-group py-2">
                            <input type="number" id="numtotal" name="numtotal" 
                            placeholder="Total Orden" minlength="1" maxlength="6" required class="form-control">
                        </div>
                        <div class="form-group py-2">
                            <input type="text" id="txtidproducto" name="txtidproducto" 
                            placeholder="id producto" minlength="1" maxlength="100" required class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Registrar Orden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- columna izquierda -->

        <!-- Columna derecha con la tabla para mostrar las órdenes registradas -->
        <div class="col-sm-12 col-md-8 col-xl-8">
            <h4>Órdenes Registradas</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">id orden</th>
                        <th scope="col">id Cliente</th>
                        <th scope="col">id empleado</th>
                        <th scope="col">id sucursal</th>
                        <th scope="col">F. de Orden</th>
                        <th scope="col">Total</th>
                        <th scope="col">id producto</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in ordenes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ o.idorden }}</td>
                            <td>{{ o.idcliente }}</td>
                            <td>{{ o.idempleado }}</td>
                            <td>{{ o.idsucursal }}</td>  <!-- Muestra 'Procesando', 'Enviando', 'En entrega' -->
                            <td>{{ o.forden }}</td>
                            <td>{{ o.total }}</td>
                            <td>{{ o.idproducto }}</td>  <!-- Muestra 'Tarjeta', 'Efectivo', 'Credito' -->
                            <td>
                                <a href="/seleccionarOrden/{{ o.idorden }}" class="btn btn-info">Editar</a>
                                <a href="/borrarOrden/{{ o.idorden }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar esta orden?');">Borrar</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9" class="text-center">No hay órdenes registradas.</td>
                        </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div><!-- columna derecha -->

    </div><!-- la fila -->
{% endblock %}
