{% extends "base.html" %}

{% block cuerpo %}
<div class="row"> <!--fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Empleado</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarEmpleado/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtidempleado" name="txtidempleado" value="{{ mis_empleados.idempleado }}" readonly required class="form-control">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" value="{{ mis_empleados.nombre }}" required class="form-control">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txttelefono" name="txttelefono" value="{{ mis_empleados.telefono }}" required class="form-control">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="txtidsucursal" name="txtidsucursal" value="{{ mis_empleados.idsucursal }}" required class="form-control">
                    </div>
                    <div class="form-group py-3">
                        <input type="email" id="txtcorreo" name="txtcorreo" value="{{ mis_empleados.correo }}" required class="form-control">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="numturno" name="numturno" value="{{ mis_empleados.turno }}" required class="form-control">
                    </div>
                    <div class="form-group py-3">
                        <input type="text" id="numposicion" name="numposicion" value="{{ mis_empleados.posicion }}" required class="form-control">
                    </div>
                    <button type="submit" class="btn btn-dark">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
